/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Arial Black', sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Change to flex-start */
  padding: 10px;
}

.photo-box {
  position: relative; /* Position photo box relatively */
  width: 250px; /* Fixed width for each photo box */
  height: auto;
  margin: 10px; /* Adjust margin for spacing */
  border: 1px solid #ccc;
  overflow: hidden; /* Ensure images don't exceed box dimensions */
  padding: 5px; /* Add padding inside the photo box */
  box-sizing: border-box; /* Ensure padding is included in the box size */
}

.photo-box img {
  width: 100%;
  height: auto;
  display: block;
}

.remove-button {
  position: absolute; /* Position remove button absolutely */
  top: 5px;
  right: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.photo-box img.enlarged {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: zoom-out;
}

#saveButton {
  display: block;
  margin: 20px auto; /* Centers the button horizontally */
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#saveButton:hover {
  background-color: #45a049; /* Darker green on hover */
}
